extends ../base.jade

block content
  h1 Welcome to Jiffi
  if profile
    p
      a(href="/tasks/add", class='btn btn-success btn-sm')
        i.glyphicon.glyphicon-plus
        span  Add task
  else
    
    p Life tasks done on a Jiffi cloud based app. Here you get the chance to win points and rewards for doing everything in your life. Just click login to get started.
    
block article
  .col-md-4
    h2 Life is a dream
    p Sometimes all we care about is getting through the day with our vanilla whip frappuccino and a lemon sorbet. Each day may pass on like nothing new has happened. Sounds like you? Get into gear and get back on track with a Jiffi.

  .col-md-4
    h2 Your friends all do it
    p When you are on Jiffi you will know who the best achiever will be by comparing your scores against your friends. What better way to bitch-slap and tell them they are a lazy ass compared to your Jiffi score.

  .col-md-4
    h2 Get high on success
    p After Jiffi you will see new ways of becoming even more successful than you could have imagined. That car, house, beach could all be yours. Just need to earn more than we do by ripping you off for all the extras you are going to buy for this game, and voila!
